footer{
  height: 50px;
  width: 100%;
  padding: 8px;
  border: 1px #f5f5f5 solid;
}

sidebar{
  /*min-height: 1px;*/
  padding-right: 15px;
  padding-left: 15px;
  width: 150px;
  float: left;
  padding: 8px;
  /*max-height: calc(100vh - 61px);*/
}

.well{
  min-height: 1px;
  height: calc(100vh - 100px);
}

.row{
  height: inherit;
}

.container{
  padding: 0 10px 8px 10px;
  background-color: red;
  margin-left: 150px;
  margin-top: -8px;
  margin-right: -8px;
  height: calc(100vh - 50px);
  width: calc(100vw - 158px);
  min-width: 420px;
}

#main{
  padding-top: 16px;
  min-width: 420px;
}

#all-content{
  height: calc(100vh - 50px);
  margin-bottom: 50px;
}

#get-spotify{
  word-wrap: break-word;
}

.controls{
  margin: 0 4px 0 4px;
  height: 30px;

}
.row{
  margin: 0;
  padding: 8px;
  height: calc(100vh - 86px);
}

.bar{
  /*margin: 15px 0;*/
  padding: 9px;
}
